.info-small{
  display: block;
  padding-top: 12px;
  padding-bottom: 28px;
  border-bottom: 1px solid var(--white30);
}
.info-small .h3{
  color: var(--white);
}
.info-small + .info-small{
  margin-top: 8px;
}
.info-small__details__item + .info-small__details__item{
  margin-left: 16px;
}
.info-small__details__item{
  display: flex;
  align-items: center;
}
.info-small__details__item img{
  filter: brightness(100);
}
